In [7]:
from pydataset import data
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [11]:
dt=data('titanic')

In [12]:
dt.sample(5)

         class     age    sex survived
359  2nd class  adults    man       no
3    1st class  adults    man      yes
709  3rd class  adults    man       no
211  1st class  adults  women      yes
788  3rd class  adults    man       no

In [14]:
dt = pd.get_dummies(dt,drop_first=True)
dt.sample(5)

     class_2nd class  class_3rd class  age_child  sex_women  survived_yes
568                1                0          0          1             1
42                 0                0          0          0             1
740                0                1          0          0             0
255                0                0          0          1             1
844                0                1          0          0             0

In [23]:
x_train,x_test,y_train,y_test=train_test_split(dt.drop('survived_yes',axis=1), dt['survived_yes'])

In [24]:
LR=LogisticRegression(solver='lbfgs')
LR.fit(x_train,y_train)

LogisticRegression()

In [25]:
LR.predict(np.array([[0,0,1,1,]]))[0]

1

In [26]:
LR.predict(np.array([[0,1,0,0,]]))[0]

0

In [27]:
LR.score(x_test,y_test)

0.7750759878419453

In [28]:
prediction = (LR.predict(x_test)>.5).astype(int)
np.sum(prediction ==y_test) / len(y_test)

0.7750759878419453